<div class="post" data-theme="{{theme}}" data-link="{{link}}" data-title="{{title}}">
    <div class="post-contents">
        <div class="post-image-container">
            <img src="{{imageURL}}">
        </div>
        <div class="post-info-container">
            <div class="post-theme">{{theme}}</div>
            <a href="{{link}}" class="post-title">{{title}}</a>
        </div>
    </div>
</div>
